.buy_route_main_container{
    min-height: 100vh;
    min-width: 100%;
    height: auto;
    margin-top:0.2em; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0 3em;
}
.buy_route_path_para{
    font-size: 0.8em;
    color:#111111a0;
    padding:1em 0;
}
.buy_route_product_and_payment_main_container{
    min-height: 15em;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns:45em 1fr;
    gap:1.5em;
    justify-content: center;
}
.buy_route_address_and_product_showBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:2em;
}
.buy_route_product_container_with_heading{
    height: 14em;
    width:100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:0.01em solid #00000046;
    border-radius: 0.3em;
    padding:0.7em 0.4em;
    overflow: hidden;
}
.buy_route_product_Heading{
    padding:1em 0.2em;
}
.buy_route_product_container{
    height: 10em;
    width:100%;
    display: flex;
    justify-content: flex-start;
    gap:2em;
    align-items: center; 
}
.buy_route_selected_product_image{
   height: 10em;
   width: 10em;
   padding:0.7em;
   background-color: #fbebeaae;
   border-radius: 0.4em;
   margin-bottom: 1.5em;
}
.buy_route_selected_product_image img{
    height: 100%;
    width:100%;
    object-fit: contain;
}
.buy_route_selected_product_title,.buy_route_selected_product_prize ,.buy_route_selected_product_size{
    font-size: 1.2em;
    font-weight: 600;
}
.buy_route_selected_product_color_show ,.buy_route_selected_product_quantity_show, .buy_route_product_size_value{
    font-size: 0.8em !important;
}
.buy_route_add_address_box{
    width: 100%;
    min-height: 10em;
    height: auto;
    border:0.01em solid #00000046;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.buy_route_address_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.2em;
}
.buy_route_address_save_btn{
    border:none;
    background-color: #082028c8;
    padding:0.4em 0.8em;
    border-radius: 0.4em;
    color: #dee9f2;
    cursor: pointer;
}
/* Input Boxes Stylling */
.buy_route_address_input_main_Box >div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:1em;
    padding: 0.4em 1.2em; 
}
.buy_route_address_input_main_Box >div div{
    width: 50%;
}
.buy_route_address_input_main_Box >div div p{
    font-size: 0.9em;
    padding:0.4em 0;
}
.buy_product_form_invalid_msg{
    color:red;
    font-size: 0.9em;
    display: none;
}
.buy_route_address_input_main_Box >div div >input
,.buy_route_address_input_main_Box .buy_product_permanent_address_box input
{
    width: 100%;
    height: 3em;
    padding: 0 0.5em;
    border:0.01em solid #8e8c8c46;
    border-radius: 0.4em;
}
.buy_route_address_input_main_Box >div div >input:focus
,.buy_route_address_input_main_Box .buy_product_permanent_address_box input:focus
{
    outline:0.1em solid rgb(0, 213, 255);
}
.buy_route_address_input_main_Box .buy_product_permanent_address_box{
    display: flex;
    flex-direction: column;
}
.buy_product_from_submit_box{
    display: flex;
    flex-direction: row-reverse;
}
.buy_product_from_submit_box #place_order_button{
    border:0.01em solid #027e16ef;
    background-color: #027e16ef;
    color:#ffffff;
    border-radius: 1.4em;
    padding:0.7em 1.3em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-wrap: nowrap;
}
#place_order_button:hover{
    border:0.01em solid #027e16ef;
    background: #ffffff;
    color:#027e16ef;
}
.buy_route_order_container{
    min-height: 10em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:0.01em solid #00000046;
    border-radius: 0.3em;
    padding:1em 1.4em;
}
.buy_route_order_container hr{
    margin: 1em 0;
    color:rgba(168, 168, 168, 0.497);
}
#OrderSummeryHeading,#paymentDetailsHeading{
    padding:0.7em 0;
}
.buy_route_applyCoopon_container{
    padding:0.3em 0.2em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebe9e9;
    border-radius: 1em;
    overflow: hidden;
}
.buy_route_applyCoopon_container input{
    height: 100%;
    border:none;
    background-color: transparent;
    padding:0 0.6em;
}
.applyCouponButton{
    border:0.01em solid #027e16ef;
    background-color: #027e16ef;
    color:#ffffff;
    border-radius: 1.4em;
    padding:0.7em 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-wrap: nowrap;
}
.applyCouponButton:hover{
    border:0.01em solid #027e16ef;
    background: #ffffff;
    color:#027e16ef;
}
.buy_route_applyCoopon_container input:focus{
    outline:none;
}
.buy_route_payment_selection_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1em;
}
.buy_route_payment_selection_box label ,
.buy_route_payment_selection_box input[type="radio"]
{
    font-size: 0.9em;
    padding:0 0.3em;
    cursor: pointer;
}
.buy_route_credit_debit_card_input_container{
   margin:1em 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap:1em;
   display: block;
   opacity: 0;
   transform: translateY(-2em);
   transition: opacity 0.3s ease, transform 0.5s ease;
   pointer-events: none;
}
.open_debit_card_container{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.buy_route_credit_debit_card_input_container div{
    width: 100%;
}
.buy_route_credit_debit_card_input_container div p{
    font-size: 0.9em;
    padding:0.4em 0;
}
.buy_route_credit_debit_card_input_container div input{
    width: 100%;
    height: 3em;
    padding: 0 0.5em;
    border:0.01em solid #8e8c8c46;
    border-radius: 0.4em;
}
.buy_route_debit_card_cvv_expireDate_box{
    display: flex;
    gap:1em;
}
.buy_route_credit_debit_card_input_container div input:focus{
    outline:0.1em solid rgb(0, 213, 255);
}

@media(max-width:1150px){
   .buy_route_product_and_payment_main_container{
    grid-template-columns:1fr;
   }
   .buy_route_address_and_product_showBox,.buy_route_order_container{
    width:80%;
   }
}
@media(max-width:600px){
    .buy_route_product_and_payment_main_container{
     grid-template-columns:1fr;
    }
    .buy_route_address_and_product_showBox ,.buy_route_order_container{
     width:100%;
    }
}