/* Main login box container */
.login_box_container {  
    width: 90%;
    max-width: 55em; 
    min-height: 25em; 
    height: max-content;       
    margin: 6em auto;
    border: 0.01em solid var(--color-border);
    border-radius: 10px;
    box-shadow: var(--color-divider) 0px 0 50px -10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17em,1fr));
}
.login_box_container .login-box-img {
    background-color: var(--color-card-bg);
}
.login_box_container .login-box-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1em;
}
/* Inner container */
.login_box_container .container {
    height: 100%;
    background: transparent;
    padding: 20px;
    /* box-shadow: var(--card_shadow) 0px 18px 50px -10px; */
    background-color: var(--color-card-bg);
}
/* Form headings */
.login_box_container .container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-text-primary);
}

/* Input fields */
.login_box_container .container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var( --color-border);
    color:var(--color-text-primary);
    border-radius: 5px;
    background-color: transparent;
}
.login_box_container .container input:focus{
    outline:1px solid var(--color-info);
    border:1px solid transparent;
}
.login_box_container .container input[type="file"]{
   display: none;
}
.login_box_container .container .passwordBox{
    width: 100%;
    border: 1px solid var( --color-border);  
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_box_container .container .passwordBox input{
    border: none;
    padding: 10px;
    margin: 0;
}

.login_box_container .container .passwordBox input:focus{
    outline: none;
}

.login_box_container .container .passwordBox:focus-within{
    border: 1px solid var(--color-info);
}
.login_box_container .container .passwordBox i{
    cursor: pointer;
    color:var(--color-text-muted);
    font-size: 0.8em;
    margin-right: 1em;
}

.registration-image-selection-btn{
    display: inline-block;
    padding: 0.6em 1.1em;
    background-color: var(--color-secondary);
    color:var(--color-secondary-text);
    border: 0.01em solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.3s ease;
}
.registration-image-selection-btn:hover{
    background-color: var(--color-secondary-hover);
}
.no-image-selected{
    display: inline-block;
    font-size: 0.7em;
    font-weight: 600;
    color:var(--color-text-muted);
}
.registration-image-preview{
    display: none;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-border);
    background-color: transparent;
    border-radius: 10px;
    margin: 2px;
}
/* Buttons */
.login_box_container .container button {
    width: 100%;
    padding: 10px;
    background: var(--color-action);
    border:0.1em solid #07192c !important;
    color:var(--color-button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

/* Paragraphs */
.login_box_container .container p {
    text-align: center;
    margin-top: 10px;
    color: var(--color-text-primary-low);
}

/* Links */
.login_box_container .container a {
    color: var(--color-info);
    text-decoration: none;
}

.login_box_container .container a:hover {
    text-decoration: underline;
}

/* Hide login form initially */
.loginForm {
    display: none;
}


