/* Main login box container */
.login_box_container {  
    width: 90%;
    max-width: 55em; 
    min-height: 25em; 
    height: max-content;       
    margin: 6em auto;
    border-radius: 10px;
    box-shadow: var(--card_shadow) 0px 18px 50px -10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17em,1fr));
}
.login_box_container .login-box-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1em;
}
/* Inner container */
.login_box_container .container {
    height: 100%;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--card_shadow) 0px 18px 50px -10px;
}
/* Form headings */
.login_box_container .container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: var(--CardTextDarkColor);
}

/* Input fields */
.login_box_container .container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var( --card_shadow);
    color:var(--CardTextDarkColor);
    border-radius: 5px;
    background-color: transparent;
}
.login_box_container .container input:focus{
    outline:1px solid #c614dd;
    border:1px solid transparent;
}
.login_box_container .container input[type="file"]{
   display: none;
}
.login_box_container .container .passwordBox{
    width: 100%;
    border: 1px solid var( --card_shadow);  
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
        border:none;
        padding: 10px;
        margin: 0;
    }
    input:focus{
        outline: none;
    }
}
.login_box_container .container .passwordBox i{
    cursor: pointer;
    color:var(--CardTextMediumColor);
    font-size: 0.8em;
    margin-right: 1em;
}

.registration-image-selection-btn{
    display: inline-block;
    padding: 0.6em 1.1em;
    background-color: var(--CardButtonBackground);
    color:var(--CardButtonColor);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.3s ease;
}
.no-image-selected{
    display: inline-block;
    font-size: 0.7em;
    font-weight: 600;
    color:var(--CardTextMediumColor);
}
.registration-image-preview{
    display: none;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    background-color: burlywood;
    border-radius: 10px;
    margin: 2px;
}
/* Buttons */
.login_box_container .container button {
    width: 100%;
    padding: 10px;
    background: var(--CardButtonBackground);
    border:0.1em solid #07192c !important;
    color:var(--CardButtonColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

/* Paragraphs */
.login_box_container .container p {
    text-align: center;
    margin-top: 10px;
    color: var(--CardTextMediumColor);
}

/* Links */
.login_box_container .container a {
    color: #007bff;
    text-decoration: none;
}

.login_box_container .container a:hover {
    text-decoration: underline;
}

/* Hide login form initially */
.loginForm {
    display: none;
}


