.wtc-review-main-container{
    margin-top:2em;
    min-height: 80vh; 
    height: auto;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:3em;
    font-size: clamp(1rem, 1.2vw, 2rem);
}
.wtc-review-heading{
    text-align: left;
    font-size: 1.7em;
    color:var(--color-text-primary);
}
.wtc-review-main-box{
    margin-top:2em;
    min-height: 80vh; 
    height: auto;
    width:100%;
    background-color: transparent;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 28em 1fr;
    gap:2em;
}
/* writing review Stylling start here */
.wtc-review-write_mainBox{
    background-color: var(--color-card-bg);
    border: 0.1em solid var(--color-border);
    border-radius: 1em;
    padding:0 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.wtc-review-write_mainBox .wtc-leave-review-heading{
    padding:1.2em 0;
    font-size: 1.4em;
    text-align: center;
    color:var(--color-text-primary);
}
.wtc-review-input_box{
    width:100%;
}
.wtc-review-input_box form{
    margin-top: 1em;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.wtc-review-input_box form #wtc-review-rating{
    position: absolute;
    top:-2em;
    right:1em;
    color: var(--color-text-secondary);
} 

.wtc-review-input_box form .wtc-review-submit-btn{
    padding:1em 1.7em;
    font-weight: 600;
    border:0.1em solid var(--color-border);
    background-color: var(--color-action);
    color:white;
    cursor: pointer;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 0.3s ease;
}
.wtc-review-input_box form .wtc-review-submit-btn:hover{
  border:0.1em solid var(--color-border);
  background-color: var(--color-action-hover);
}
.wtc-review-input_box form input{
    padding:1em 1.2em;
    flex:1;  
    border: 0.05em solid var(--color-border);
    border-right: none;
    background-color: var(--color-bg-soft);
    color: var(--color-text-primary);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    outline: none;
}
.wtc-review-input_box form input:focus{ 
    border:0.05em solid var(--color-info);
    border-right: none;
}
/* writing review Stylling End here */

/* Review Preview Stylling start here */
.wtc-your-review-heading{
    margin-top:2em;
    text-align: center;
    padding:0.8em 0;
    color:var(--color-text-primary);
}
.wtc-review-see-container{
    background-color: var(--color-card-bg);
    border: 0.1em solid var(--color-border);
    padding:2em 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap:3em;
    justify-content: flex-start;
    align-items:center;
}
.wtc-review-card-box{
    min-height: 6em;
    height: auto;
    background-color: transparent;
    border: 0.01em solid var(--color-border);
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 1em;
}
.wtc-review-user-card-image_box{
    height: 2.4em;
    width:2.4em;
    border: 0.01em solid var(--color-border);
    border-radius: 50%;
    margin-bottom: 1.6em;
    margin-left:0.7em;
    overflow: hidden;
}
.wtc-review-user-card-image_box img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.wtc-review-user-name-username_box_likeBox-Description{
    padding:0 1em;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wtc-review-user-name-username_box_likeBox{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wtc-review-user-name h3{
   font-size: 1em;  
   color:var(--color-text-primary);
}
.wtc-review-user-name p{
    font-size: 0.8em;
    color:var(--color-text-primary-low);
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s ease;
}
 .wtc-review-user-name p:hover{
    color:var(--color-info);
    text-decoration: underline;
}
.wtc-review-likeBtn{
    height: 2em;
    width:2em;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.wtc-review-likeBtn:hover{
    background-color: var(--color-secondary-hover);
}
.wtc-user-review-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wtc-user-review-description-preview-para , .wtc_review_descriptionPara{
    font-size: 0.9em;
    color:var(--color-secondary-text);
}
/* Hidden form for edit review : */
.CloseEditForm{
    display: none !important; 
}
.openEditForm{
    display: block !important;
    flex: 1;
    width: 25em !important;
}
.openEditForm textarea{
    margin-top:0.3em;
    width: 90% !important;
    height: 4em;
    resize: none;
    border:0.01em solid var(--color-divider);
    color: var(--color-text-primary);
    background-color: transparent;
    border-radius: 0.5em;
    padding:0.3em 0.6em;
    transition: all 0.3s ease;
}
.openEditForm textarea:focus{
    outline: 0.03em solid var(--color-info);
    box-shadow: 0 0 0.3em var(--color-info);
}
.wtc-review-edit-delete-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wtc-review-deleteBtn,.wtc-review-edit,.editReviewUpdateButton{
    margin-top:0.4em;
    padding:0.5em 1em;
    border:none;
    cursor: pointer;
    border-radius: 0.6em;
    transition: all 0.2s linear;
}

.editReviewUpdateButton{
    border: 0.1em solid var(--color-border);
    background-color: var(--color-action);
    color: var(--color-card-bg);
}  
 .editReviewUpdateButton:hover{
    background-color: var(--color-action-hover);
    color: var(--color-card-bg);
}  

.wtc-review-edit{
    margin-right:0.3em;
    border: 0.1em solid var(--color-divider);
    color: var(--color-text-primary);
    background-color: var(--color-secondary);
}
.wtc-review-edit:hover{
    background-color: var(--color-secondary-hover);
}
.wtc-review-deleteBtn{
    margin-left:0.3em;
    background-color: transparent;
    border: 0.1em solid var(--color-error);
    color: var(--color-error);
}
.wtc-review-deleteBtn:hover{
    background-color: #d72f05;
    color:rgb(232, 230, 230);
}
.wtc-no-review-found{
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    color: var(--color-text-primary);
}
/* Review Preview Stylling End here */
@media (max-width:1050px){
    .wtc-review-main-box{
        grid-template-columns: 1fr;
    }
    .wtc-leave-review{
        font-size: 1.6em !important;
    }
}