#startExplore_box{
    margin-top: 5em;
    height: auto;
    width: 100%;
    background-color: var(--bodyBackColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.explore-head_t_in{
    height:10em;
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: clamp(1rem,3vw,2rem);
}
.explore-head_t_in h2{
    font-size: 1.5em;
    text-align: center;
    color:var(--mdBlack);
}
.explore_selectorsbox{
    margin-top:1em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore_selectors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.1em;
    background-color: var(--color);
    border:0.01em solid var(--links);
    border-radius: 2em; 
    box-shadow: var(--card_shadow) 0px 18px 50px -10px;
}
.explore_selectors button{
    font-size: 0.5em;
    font-weight: 600;
    border:none;
    background-color: var(--color);
    color:var(--mdBlack);
    padding:0.7em 2em;
    border-radius: 1.4em;
    cursor: pointer;
    i{
        margin-right:0.3em;
    }
}
.explore_selectors .activeBtn{
    background-color: var(--textColor);
    color:var(--color);
}
.explore-card_container{
    margin-top:1em;
    height: max-content;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25em,1fr));
    gap:1.5em;
    justify-content: center;
    padding:0 2em;
    margin-bottom: 5em;
}
.explore-card-box{
    padding:2em;
    height: 24em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: clamp(1rem,1vw,1.4rem);
    position: relative;
    border-radius: 2em;
    /* background-color: var(--cardColor); */
    background-color: var( --CardBackground);
    transition: all 0.2s ease;
    cursor: pointer;
}
.explore-card-box:hover{
    box-shadow: var(--card_shadow) 0px 18px 50px -10px;
}
.ex-card-imgBox{
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3em;
}
.ex-card-imgBox img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#remainingProduct{
    font-size: 1em;
    color:var(--CardTextMediumColor);
}
#ex-item-title{
    font-size: 2em;
    color:var(--CardTextDarkColor);
}
.ex-card-item-li-sbg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#ex-itemfor_link{
    text-decoration: none;
    position: relative;
    color:var(--links);
    transition: all 0.2s ease;
    cursor:  pointer !important;
    z-index: 100;
    i{
        margin-left:0.6em;
    }
}
.explore-card-box:hover{
    #ex-itemfor_link{
        text-decoration: underline;
    }
}
#ex_card_sbg{
    position: absolute;
    bottom:0.3em;
    right:0;
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

/* Listing Backend Data Stylling */
.hm-listing-data-box{
    padding:0 3em;
    height: auto;
    min-height: 80vh;
    width:100%;
    margin-top:5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hm-listings-head{
    font-size: clamp(1rem,2vh,1.5rem);
    max-height: 30em;
    width:100%;
}
.Listing_main_heading{
    color:var(--textColor) !important;
}
.listing_head_para{
    color:var(--mdBlack) !important;
}
/* Sort Button stylling Start here  */
.hm-listing_sort_box{
    height: 6em;
    padding:1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hm-listing_sort_box .hm-listing-SortBtn{
    padding:0.5em 1em;
    margin-right: 2em;
    background-color: var(--buttonPrimary);
    color:var(--color);
    border:0.1em solid var(--buttons-slider-Box-Shadow);
    border-radius: 1em;
    cursor: pointer;
    position: relative;
}
.hm-listing_sort_box .hm-listing-SortBtn i{
    font-size: 0.8em;
    margin:0 0.3em;
}

/*  Selection Filter Buttons Stylling Start Here */
#filterapplyBtn{
    padding:0.7em 2em;
    background-color: #100e0e;
    color:#fefefe;
    border-radius: 0.8em;
    cursor: pointer;
}
#filterclearBtn{
    padding:0.7em 1em;
    background: var(--buttons-slider-Box-Shadow);
    color:var(--body-text-color);
    border-radius: 0.5em;
    cursor: pointer;
    text-decoration: underline;
    background-color: #fa790f;
}

.hm-listing_sort_box button input[type="checkbox"]{
    width: 1.3em;
    height: 1.3em;
}

.activeFilterBtn{
    border:0.1em solid rgba(6, 108, 232, 0.858) !important;    
}
.removeFilterContainer{
    border:0.1em solid rgba(95, 94, 94, 0.422) !important;
}


/* Filter Buttons Stylling Start Here */
.hm-listing-SortBtn >div{
    position: absolute;
    top:-2em !important;
    min-width:20em;
    max-height: 20em;
    background-color: var(--cardColor);
    border:0.01em solid var(--lowBlack);
    box-shadow: var(--card_shadow) 0px 18px 50px -10px;
    z-index: 1000;
    border-radius: 1em;
    padding:1em 0.4em;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: auto; 
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.5s !important;
}
.hide_filter_Box_smoothly{
    opacity: 0 !important;
    transform: translateY(20px) !important;
    visibility: hidden !important;
}
.hm-listing-SortBtn >div >:first-child{
    max-height: 15em !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1em;
    justify-content: space-between;
    align-items: flex-start;
    padding:1em;
    overflow-y: auto !important;
}
.hm-listing-SortBtn >div >:first-child>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hm-listing-SortBtn >div >:first-child>div input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border:2px solid var(--blackText);
    border-radius: 1em;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: var(--cardColor);
}
.hm-listing-SortBtn >div >:first-child>div input[type="radio"]:checked{
    background-color: var(--blackText);
}
.hm-listing-SortBtn >div >:first-child>div input[type="radio"]:checked::before{
    content: "";
    width: 0.8em;
    height: 0.8em;
    background-color: #2eb6ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hm-listing-SortBtn >div >:first-child>div label{
    padding:0 0.4em;
    color:var(--blackText);
    font-size: 1.2em;
}
.hm-listing-SortBtn >div >:last-child{
    margin-top:1em;
    height: 20%;
    width: 100%;
    padding:0 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Note* Price selection box or selection Box se thoda alag hai isiliye iski stylling thodi different hai */

/* Price Selection Stylling Start Here*/
.hm-lis-price_selectBox{
    width:100%;
    font-size: 0.5em;
}
 
 #hm_lis_price{
     margin-top:0.6em;
 }
 #priceSelectionMainHeading{
     font-size: 2.5em;
     color:black !important;
 }
  
 #price_selc_showMaxPara{
     font-size: 1.7em;
     font-weight: 400 !important;
     color:var(--blackText);
 }
 .price_min_max_box{
     margin-top:3em;
     width:100%;
     height: 12em;
     display: flex;
     justify-content: space-between;
     align-items:center;
     gap:1em;
 }
 .minPrice ,.maxPrice{
     height: 10em;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }
 .minPrice  p ,.maxPrice p{
     width:100%;
     color:var(--md_blackText) !important;
     font-size: 2em !important;
 }
 .minPrice  input ,.maxPrice input{
     width:100%;
     height: 6em !important;
     margin:0 0.7em !important;
     padding:0 0.5em;
     border: 0.16em solid var(--md_blackText);
     background-color: #fefefe;
     border-radius: 0.4em;
 }
 .minPrice input:focus, .maxPrice input:focus {
     border: 0.16em solid #2eb6ff !important;
     outline: none !important;
 }
 
 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
      margin: 0;
 }

/* Filter Buttons Stylling Start Here */ 

.hm-listing-data{
    margin-top:4em;
    min-height: 50vh;
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17em,0.4fr));
    gap:2em;
    background-color: var(--bodyBackColor);
}
.hm-listing-dt-card-box{
   height: 27em;
   width:100%;
   max-width: 30em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: var(--CardBackground);
   align-items: center;
   overflow: hidden;
   border-radius: 1em;
   position: relative;
   transition: all 0.2s ease;
}
.ProductLink{
    text-decoration: none;
    color:var(--CardTextDarkColor);
}
.hm-listing-dt-card-box_img{
  height: 13em;
  width:100%;
  background-color: transparent;
  padding:1em 0;
}
.hm-listing-dt-card-box_img img{
    width: 100%;
    height: 100%;  
    object-fit: contain;  
    object-position: center; 
    border-radius: 1em;
}
.hm-listing-dt-card-box_dis{
    flex:1;
    padding:1em;
    font-size: clamp(1rem,2vh,1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
}
.hm-listing-item_title{
    font-size: 1.4em; 
    font-weight: 600;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}
.hm-listing_item_discription{   
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: 0.03em;
    color:var(--textColor) !important;
}
.hm-listing_item_discription:first-child{
    font-size: 1em;
}
.hm-listing_item_discription:nth-child(2){
    font-weight: 300;
    color:var(--CardTextMediumColor) !important;
}
.hm-listing_item_offer ,.hm-listing_item_deliveryPara{
    font-size: 0.8em;
    color: var(--CardTextMediumColor);    
}
.hm-listing_item_deliveryPara{
    width: 100%;
    padding:0.3em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5em;
}
.hm-listing_item_offer span{
    color:#049104 !important;
    padding-left: 0.3em;
}
.hm_listing_price_cardBtn{
    margin-top:1em;
    /* padding:1em 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.hm_listing_price_cardBtn button{ 
    padding:0.7em 1em;
    border:0.2em solid transparent;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
}
#listing_item_likeBtn{
    position: absolute;
    top:1em;
    right:2em;
    width:2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lowBlack);
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease;
}
.listing_item_likeBtn svg{
    fill: var(--buttonSecondry);
}
.activeLikeBtn svg{
    fill: #f51137 !important;
}
.hm-listing-dt-card-box:hover{
    box-shadow: var(--card_shadow) 0px 5px 20px -10px;
    transform: translateY(-0.2em);
    #listing_item_likeBtn{
        opacity: 1;
    } 
}
.hm-listing_item_addCard{
   background-color: var(--CardButtonBackground);
   color: var(--CardButtonColor);
}
.hm-listing_item_addCard:hover{
    background-color: #1a1a1ae7;
    color:#c8c8c8;
    border:0.2em solid white;
}
.hm-listing_item_price{
    background-color: var(--CardButtonBackground);
    color: var(--CardButtonColor);
    border:0.2em solid white;
}
.hm-listing_item_price:hover{
    background-color: #000000d5;
    color:#bcbcbc;
    border:0.2em solid white;
}
.Services_to_help_you_container{
   min-height: 30em;
   max-height: auto;
   width:100%;
   padding:2em 3em;
   margin:4em auto;
}
#owrService{
    color:var(--CardTextDarkColor);
    padding: 1em 0;
}
.servicesShowMainCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(14em,0.3fr));
    justify-content: center;
    gap:2em;
}
.serviceShowCardBox{
    border: 0.4px solid var(--links);
    border-radius: 10px;
    height: 22em;
    overflow: hidden;
    background-color: var(--CardBackground);
    box-shadow: var(--card_shadow) 0px 10px 10px -10px;
}
.serviceShowDescription{
    background-color: var(--CardBackground);
    height: 10em;
    padding:1em;
}
.serviceShowDescription h2{
    color: var(--CardTextDarkColor);
}
.serviceShowCardImage{
    height: 12em;
    width: 100%;
    background-color: transparent !important;
}
.serviceShowCardImage img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    background-color: transparent !important;
}
.serviceShowDescription p{
    color:var(--CardTextMediumColor);
    margin:1em 0;
}
.serviceShowCardImage{
    background-color: yellow;
}