<%-layout("layouts/boilerPlateCode.ejs")%> 
<div class="error-container">
    <h1>Oops!</h1>
    <p><%-message %> </p>
    <div class="error-content">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        <a href="http://localhost:8080/shopcard" class="home-btn">Go Back Home</a>
    </div>
</div>   