<%-layout("layouts/boilerPlateCode.ejs")%> 
<body>
    <div class="us-Profile-main_container">
        <div class="us-profile-left-main">
            <div class="user-profile-left-head">
                <div class="user-profile-l-img">
                    <img src="<%-user.image.url %>" alt="<%-user.name %>">
                </div>
                <div class="user-profile-l-says">
                    <p>Hello</p>
                    <p id="user-profile-name" ><%-user.name%></p>
                </div>
            </div>
            <hr>

            <div class="user-profile-left-main-menu">

                <div class="us-prfle-left-myorders">
                    <button class="us-profile-left-menu-link-button activeMenuButton"  data-target="myorders" >
                        <span class="material-symbols-outlined">local_shipping</span>
                        <span class="user-profile-left-menu-title" >My Orders</span>
                    </button>
                </div>
                <div class="us-prfle-left-profileInfo">
                    <button class="us-profile-left-menu-link-button" data-target="profileInformation">
                        <span class="material-symbols-outlined">3p</span>
                        <span class="user-profile-left-menu-title">Profile Information</span>
                    </button>
                </div>
                <div class="us-prfle-left-ManageAddress">
                    <button class="us-profile-left-menu-link-button" data-target="manageAddress">
                        <span class="material-symbols-outlined">add_home</span>
                        <span class="user-profile-left-menu-title">Manage Address</span>
                    </button>
                </div>
                <div class="us-prfle-left-PancardInfo">
                    <button class="us-profile-left-menu-link-button" data-target="panCardInformation" >
                        <span class="material-symbols-outlined">add_card</span>
                        <span class="user-profile-left-menu-title">PAN Card Information</span>
                    </button class="us-profile-left-menu-link-button">
                </div>
                <div class="us-prfle-left-GiftCard">
                    <button class="us-profile-left-menu-link-button" data-target="giftCard" >
                        <span class="material-symbols-outlined">featured_seasonal_and_gifts</span>
                        <span class="user-profile-left-menu-title">Gift Cards</span>
                    </button>
                </div>
                <div class="us-prfle-left-SavedUPI">
                    <button class="us-profile-left-menu-link-button" data-target="savedUPI">
                        <span class="material-symbols-outlined">credit_score</span>
                        <span class="user-profile-left-menu-title">Saved UPI </span>
                    </button>
                </div>
                <div class="us-prfle-left-MyCoupon">
                    <button class="us-profile-left-menu-link-button" id="myCoupon" >
                        <span class="material-symbols-outlined">percent_discount</span>
                        <span class="user-profile-left-menu-title">My Coupons </span>
                    </button>
                </div>
                <div class="us-prfle-left-MyReview_Rating">
                    <button class="us-profile-left-menu-link-button" data-target="myReview_Rating">
                        <span class="material-symbols-outlined">rate_review</span>
                        <span class="user-profile-left-menu-title">My Review and Rating </span>
                    </button class="us-profile-left-menu-link-button">
                </div>
                <div class="us-prfle-left-allNotification">
                    <button class="us-profile-left-menu-link-button" data-target="Notification" >
                        <span class="material-symbols-outlined">notifications_unread</span>
                        <span class="user-profile-left-menu-title">All Notification </span>
                    </button>
                </div>
                <div class="us-prfle-left-myWatchList">
                    <button class="us-profile-left-menu-link-button" data-target="Watchlist">
                        <span class="material-symbols-outlined">add_to_queue</span>
                        <span class="user-profile-left-menu-title">My watchlist </span>
                    </button>
                </div> 

            </div>

        </div>
        <div class="us-profile-right-main">
            <div class="us-profile-right-content activeMenu" id="myorders" >
                <p>My Orders</p>
            </div>
            <div class="us-profile-right-content" id="profileInformation">
                <p>Profile Information</p>
            </div>
            <div class="us-profile-right-content" id="manageAddress">
                <p>Manage Address</p>
            </div>
            <div class="us-profile-right-content" id="panCardInformation">
                <p>Pan Card Information</p>
            </div>
            <div class="us-profile-right-content" id="giftCard">
                <p>Gift Cards</p>
            </div>
            <div class="us-profile-right-content" id="savedUPI" >
                <p>Saved UPI</p>
            </div>
            <div class="us-profile-right-content" id="myCoupon">
                <p>My Coupons</p>
            </div>
            <div class="us-profile-right-content" id="myReview_Rating">
                <p>My Review and Rating</p>
            </div>
            <div class="us-profile-right-content" id="Notification">
                <p>All Notification</p>
            </div>
            <div class="us-profile-right-content" id="Watchlist">
                <p>My Watchlist</p>
            </div>
        </div>
    </div> 
</body>
<script  src="/javascript/profile.js" defer></script>