<footer id="footer">
    <div class="footerContainer">
        <div class="supportSectionBox">
            <h2 class="footer-sc-head-line" >Customer Support </h2>
            <div class="supportSectionOptionBox">
                <p>Contact:  <span> <a href="tel:+917248060696">7248060696</a> </span> </p>
                <p>Email: <span><a href="mailto:shopcartOfficial@gmail.com">shopcart@gmail.com"</a></span></p>
                <address>Indira Chouk Budaun , Uttar Pradesh</address>
            </div>
        </div>
        <div class="QuickLinksBox">
            <h2 class="footer-sc-head-line">Quick Links</h2>
            <div class="QuickLinksOptionBox">
                <a class="footer_link_sty" href="/shopcard">Home</a>
                <a class="footer_link_sty"  href="/shopcard/search">Shop</a>
                <a class="footer_link_sty" href="/shopcard/myorder">My Order</a>
                <a class="footer_link_sty" href="/shopcard/user-profile">My Account</a>
                <a class="footer_link_sty" href="/shopcard/offers">Offers Discount</a>
            </div>
        </div>
        <div class="SocialMediaLinks">
            <h2 class="footer-sc-head-line">Social Media Links</h2>
            <div class="socialmediaLinksOption">
                <a class="footer_link_sty" href="https://www.instagram.com/">Instagram</a>
                <a class="footer_link_sty" href="https://www.youtube.com/">Youtube</a>
                <a  class="footer_link_sty" href="https://x.com/?lang=en">Twitter</a>
                <a class="footer_link_sty" href="https://www.facebook.com/">Facebook</a>
            </div>
        </div>
        <div class="Policies-legal">
            <h2 class="footer-sc-head-line">Policies & Legal</h2>
            <div class="policies-legal_container">
                <a class="footer_link_sty" href="/shopcard/terms-condition">Terms Condition</a>
                <a class="footer_link_sty" href="/shopcard/privacypolicy">Privacy Policy</a>
                <a class="footer_link_sty" href="/shopcard/shipping_return">Shipping & Retrun</a>
                <a class="footer_link_sty" href="/shopcard/refund">Refund & Cancellation</a>
            </div>
        </div>
    </div>
    <div class="copyrightSection"><p>&copy;2025 All Rights Reserved by Shopcart</p></div>
</footer>