
<nav>
    <div class="logo_box_container">
      <span id="logo_icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </span>
      <span id="web-name">Shop Cart</span>
    </div>
    <!-- For Large Screen Navbar -->
    <div class="search_input_box_container"> 
      <div class="search-crown-box" ><i class="fa-solid fa-crown"></i></div>
      <form action="/shopcard/search" method="get">
      <input id="Search_product_input" type="search" placeholder="Search for Product , Brand and more" name="q">
      <button type="button" class="search_product_icon" > <i class="fa-solid fa-magnifying-glass"></i>  </button>
    </form>
      <!-- ak Container uske liye jab user kuch type kare to live product preview ke liye backend se fecth karke show karne ke liye  -->
      <div class="search-input-preview-container ">
       <h2>Popular Categories</h2>  
       <hr> 
       <div class="search-product-preview-card_container">
       </div>       
      </div>
    </div> 
    <div class="user_cd-profile">  
      <div class="dark-mode modeSwitchButton" >
        <i  class="fa-solid fa-moon"></i>
        <span>Mode</span>
      </div>
     <% if(currentUser){ %>
      <!-- <div class="user-profile_box"> <a href="/shopcard/user-profile">   <i class="fa-solid fa-user"></i> <span>My Account</span> </a></div> -->
      <div class="user-profile_box">
        <span class="nav_my_account_text" >My Account <i id="nav_my_accountArrow" class="fa-solid fa-angle-down"></i> </span> 
        <div class="user-profile_Container">
          <div><a href="/shopcard/user-profile">   <i class="fa-solid fa-user"></i> <span>My Profile</span> </a></div>
          <div> <a href="/shopcard/user-coupons"> <i class="fa-solid fa-ticket"></i>  <span>My Coupons</span> </a></div>
          <div><a href="/shopcard/user-orders"> <i class="fa-solid fa-cart-flatbed-suitcase"></i> <span>Orders</span> </a></div>
          <div><a href="/shopcard/user-gift-card"> <i class="fa-solid fa-gifts"></i> <span> Gift Card </span> </a></div>
          <div><a href="/shopcard/user-shopcard-zone"> <i class="fa-solid fa-star-of-david"></i> <span>Shopcard Zone</span> </a></div>
          <div> <a href="/shopcard/authenticate/logout"> <i class="fa-solid fa-power-off"></i> <span>Logout</span> </a> </div>
        </div>
      </div>
      <div class="home-nav-watchList">
        <a href="/shopcard/watchlist">
         <i class="fa-solid fa-heart"></i>
        <span>WatchList</span>
        </a>
       
      </div>
      <div class="user-card">  <i class="fa-solid fa-cart-shopping"></i> <span> Cart</span>  </div> 
    <% } %>
    <% if(!currentUser){ %>
      <div class="registerBox"><a href="/shopcard/authenticate/register?action=register"> <button class="registerBtn">Register</button> </a> </div>   
      <div class="LoginBox"> <a href="/shopcard/authenticate/register?action=login"> <button class="LoginBtn">Login</button> </a> </div> 
    <% } %>        
    </div>
    <!-- For Small Screen Sidebar -->
    <div class="user-sm-sc_cd-profile"> 
      
      <div class="small_scr_top-head">
        <div class="dark-mode modeSwitchButton nav_sml_modeSwitchButton" > 
          <i  class="fa-solid fa-moon"></i>
          <span>Mode</span>
        </div>
       <i id="barIcon" class="fa-solid fa-bars"></i>
      </div>
       
      <div class="small_scr_side">    
      <% if(currentUser) { %>
      <div class="user-profile_box userProfile_box"> <a href="/shopcard"><i class="fa-solid fa-user"></i></a></div>
      <div class="user-card userCard_box"><i class="fa-solid fa-cart-shopping"></i></div>
      <div class="registerBox"><a href="/shopcard/authenticate/logout"><button class="registerBtn">logout</button> </a> </div> 
      <% } %>
      <% if(!currentUser) { %>
      <div class="registerBox small_scr_rgtBtn"> <a href="/shopcard/authenticate/register?action=register"> <button class="registerBtn"> Register </button> </a> </div>   
      <div class="LoginBox"> <a href="/shopcard/authenticate/register?action=login"><button class="LoginBtn"> Login</button> </a> </div> 
      <% } %>
    </div>

    </div> 
</nav> 
<!-- <script src="/javascript/nav_side.js"></script> -->
